# Application Ports
PORT=3000
FRONTEND_PORT=5173

# Redis configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Backend details
DATABASE_PATH=./data/clinical-scribe.sqlite
UPLOAD_DIR=/private/tmp

# Whisper Speech-to-Text Server Url
# Use http://localhost:8080 if running on your host machine, or http://host.docker.internal:8080 if running within docker.
WHISPER_SERVER_URL=http://localhost:8080

# Local script configuration (used by scripts/start-all.sh)
# Path to your local whisper-server folder on your host machine
WHISPER_DIR=~/src/whisper-server
# The name of the model binary file inside WHISPER_DIR
WHISPER_MODEL=ggml-small.bin

# Disable msgpackr native acceleration to prevent Bun from crashing due to unsupported libuv functions in native modules (e.g. uv_version_string)
MSGPACKR_NATIVE_ACCELERATION_DISABLED=true
