# Application Ports
PORT=3000
FRONTEND_PORT=5173

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Backend details
DATABASE_PATH=./data/clinical-scribe.sqlite
UPLOAD_DIR=/private/tmp

# Whisper Speech-to-Text Server Url
# Use http://host.docker.internal:8080 to point to the whisper-server running on your host machine.
WHISPER_SERVER_URL=http://host.docker.internal:8080
